$font: 'Poppins', sans-serif;
$size: 18px;
$clr-gray: #606060;
$clr-green: #B2D234;
$clr-green-trsp: #b3d234dd;
$clr-blue: #60A0D8;
$clr-blue-trsp: #60A0D8dd;
$semibold: 600;
$medium: 500;
$light: 300;
$normal: 400;
$bold: 700;