@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.welcome {
    overflow: hidden;
    height: 100vh;
    position: relative;
    display: flex;
    background-image: url("assets/img/background section 1.png");
    align-items: center;
    padding-left: 148px;

    &-texte {
        z-index: 2;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        &-title {
            @include font($font, 2.8em, $semibold, normal, $clr-green);
        }

        &-paragraph {
            @include font($font, $size, $normal, normal, $clr-gray);
            width: 80%;
        }
    }

    &-image {
        position: absolute;
        right: -150px;
        top: -20px;
        z-index: 1;
        transform: scale(0.95);
        height: 100vh;
    }
}

.accroche {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    background-image: url("assets/img/ismael-trevino-NDyuR4Huig8-unsplash.png");
    background-position: center;
    background-size: cover;

    &-texte {
        height: fit-content;
        width: 630px;
        margin-right: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $clr-green-trsp;
        color: white;
        padding-block: 48px;
        padding-inline: 68px;
        gap: 40px;

        &-title {
            @include font($font, 2.8em, $semibold, normal, white);
            text-align: center;
        }

        &-paragraph {
            @include font($font, $size, $normal, normal, white);
            text-align: center;
        }
    }
}

.menu {
    background-image: url("assets/img/background section 3.png");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    padding-inline: 200px;
    column-gap: 60px;

    &-heading {
        padding-block: 70px;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            @include font($font, 2.8em, $semibold, normal, $clr-green);
        }

        &-paragraph {
            @include font($font, $size, $normal, normal, $clr-gray);
            text-align: center;
        }   
    }

    &-left {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 26px;

        &-section {
            padding: 12px;
            display:flex;
            flex-direction: column;

            &-row {
                display: flex;
                justify-content: space-between;

                &-title {
                    @include font($font, 1.3em, $semibold, normal, $clr-green);
                }
            }

            &-paragraph {
                @include font($font, $size, $normal, normal, $clr-gray);
            }

            &-bestbuy {
                display: flex;
                justify-content: flex-end;
                position: relative;
                bottom: -38px;
                right: -12px;

                &-paragraph {
                    @include font($font, 0.7em, $normal, normal, white);
                    background-color: $clr-green;
                    padding: 5px 12px;
                }
            }
        }

        &-section-border {
            @extend .menu-left-section;
            border: 1px solid $clr-green;
        }
    }

    &-right {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;

        &-title {

            &-green {
                @include font($font, 3.5em, $normal, italic, $clr-green);
                rotate: -9deg;
            }

            &-blue {
                @include font($font, 3.5em, $normal, italic, $clr-blue);
                rotate: -9deg;
            }
        }

        &-paragraph {
            @include font($font, $size, $normal, normal, $clr-gray);
            text-align: center;
        }
    }
}

.preparation {
    height: 100vh;
    display: flex;
    padding-inline: 45px;
    background-image: url("assets/img/louis-hansel-MlPD-AzZYMg-unsplash.png");
    background-size: cover;
    align-items: center;

    &-container {
        padding-block: 140px;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 16px;
        
        &-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 40px 100px;
            background-color: $clr-green-trsp;
            gap: 40px;
            align-items: center;

            &:last-child {
                background-color: $clr-blue-trsp;
            }

            &-title {
                @include font($font, 2.8em, $semibold, normal, white);
                grid-column: 1/3;
                text-align: center;
            }

            &-horizontal {
                display: flex;
                width: 80%;
                justify-content: space-around;
        
                &-list {
                    list-style: none;
                    @include font($font, $size, $normal, normal, white);
                    text-align: center;
                }
            }
        }
    }
}